.genre-select-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 10px 0;
    border-bottom: 10px solid transparent;
}
.genre-item {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}
.selected {
    border-bottom: 3px solid #F65261;
}